:root {
  font-family: var(--font-family-default);

  color: var(--text-color);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--white);
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}
