.jinya-font-details__style-preview {
  max-width: 100%;
  display: block;
  white-space: pre;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
  background: var(--code-color);
}

.jinya-font-details__title {
  margin: 0;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: var(--font-weight-title);
  font-family: var(--font-family-display);
}

.jinya-font-details__title--about {
  font-size: 1.5rem;
}

.jinya-font-details__title--designers {
  font-size: 1.5rem;
}

.jinya-font-details__title--license {
  font-size: 1.25rem;
}

.jinya-font-details__designers-hint {
  font-size: 1.25rem;
  font-weight: var(--font-weight-hint);
}

.jinya-font-details__about-paragraphs {
  @media screen and (min-width: 786px) {
    width: 50%;
  }

  p {
    margin-top: 0;
  }
}

.jinya-font-details__style-title {
  font-weight: var(--font-weight-style-title);
  font-family: var(--font-family-display);
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.jinya-font-details__designer-name {
  margin-bottom: 0;
  font-weight: var(--font-weight-designer-name);
}

.jinya-font-details__designer-bio {
  p {
    margin-top: 0;
  }
}

.jinya-font-details__designer {
  @media screen and (min-width: 786px) {
    width: 50%;
  }
}

.jinya-font-details__add-to-css-box {
  display: none;
}

.jinya-font-details__add-to-css-label {
  display: none;

  @media screen and (min-width: 786px) {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 0.0625rem solid var(--control-border-color);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0.25rem;
    transition:
      background-color 0.3s,
      border-color 0.3s,
      color 0.3s;
  }
}

.jinya-font-details__button {
  text-decoration: none;
  width: auto;
  border-radius: 0.25rem;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}

.jinya-font-links__download {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.jinya-font-details__add-to-css-label:hover,
.jinya-font-details__add-to-css-box:checked + .jinya-font-details__add-to-css-label,
.jinya-font-details__add-to-css-box:checked + .jinya-font-details__add-to-css-label:hover {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: var(--white);
}

.jinya-font-links {
  display: none;

  @media screen and (min-width: 786px) {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}

.jinya-font-links__code {
  flex: 0 0 100%;
}

.jinya-font-links__code {
  background: var(--code-color);
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--font-family-monospace);
  box-sizing: border-box;
  margin: 0;
}

.jinya-font-details__title--code {
  font-size: 1.5rem;
}

.jinya-font-details__style-container {
  padding-bottom: 1rem;
}
