.jinya-title {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
