:root {
  --primary-color: #19324c;
  --text-color: #333;
  --white: #fff;
  --control-border-color: #ccc;
  --code-color: #fafafa;

  --checkbox-size: 1rem;
  --checkbox-mark-longarm: 0.5rem;
  --checkbox-mark-shortarm: 0.125rem;
  --checkbox-mark-stroke-width: 0.0625rem;

  --input-border-width: 0.0625rem;

  --border-radius: 0.25rem;

  --transition-duration: 0.3s;

  --font-family-default: 'Albert Sans', sans-serif;
  --font-family-display: Urbanist, display;
  --font-family-monospace: 'Oxygen Mono', monospace;

  --font-weight-title: 200;
  --font-weight-hint: 300;
  --font-weight-card-title: 300;
  --font-weight-style-title: 700;
  --font-weight-designer-name: 400;
}
