@import 'scss/body';
@import 'scss/variables';

@import '@fontsource/albert-sans/300.css';
@import '@fontsource/albert-sans/400.css';

@import '@fontsource/urbanist/200.css';
@import '@fontsource/urbanist/300.css';
@import '@fontsource/urbanist/400.css';
@import '@fontsource/urbanist/700.css';

@import '@fontsource/oxygen-mono/400.css';

.is--hidden {
  display: none;
}

p {
  margin-top: 0;
}

a {
  color: var(--primary-color);

  @media screen and (prefers-color-scheme: dark) {
    color: var(--text-color);
  }
}
