:host {
  padding: 0;
  margin: 0 1%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: [header] auto 0 [body] 1fr [footer] auto;

  @media screen and (min-width: 768px) {
    margin: 0 10%;
  }
}

.jinya-title {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--border-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-row: header;

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

.jinya-footer {
  border-top: 0.0625rem solid var(--border-color);
  padding-top: 0.5rem;
  background: var(--white);
  grid-row: footer;

  p {
    padding-bottom: 0.5rem;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    position: sticky;
    bottom: 0;
  }
}
