.jinya-loader__container {
  height: 100%;
}

.jinya-card__list {
  --column-width: calc((80vw - 3rem) / 4);

  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(4, var(--column-width));
  grid-template-rows: 13rem;
  grid-row: body;
  min-height: 100%;

  @media screen and (max-width: 768px) {
    grid-template-columns: 98%;
  }
}

.jinya-card__list--loading {
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.jinya-no-fonts {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--no-match-color);
  opacity: 0.8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.jinya-card {
  border: 0.0625rem solid var(--border-color);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--text-color);
  height: 13rem;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    max-width: 98vw;
  }
}

a {
  color: var(--text-color);
}

.jinya-card__title {
  font-size: 1.5rem;
  display: block;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-card-title);

  @media screen and (max-width: 768px) {
    max-width: 98vw;
  }
}

.jinya-card__subtitle {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-card-title);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;

  @media screen and (max-width: 768px) {
    max-width: 98vw;
  }
}

.jinya-card__body {
  max-height: 7.75rem;
  overflow: hidden;
  word-wrap: anywhere;
  word-break: break-all;

  @media screen and (max-width: 768px) {
    max-width: 98vw;
  }
}
