<div class="cosmo-modal__container" [class.is--closed]="!open">
  <div class="cosmo-modal" [class.is--negative]="negative">
    <h1 class="cosmo-modal__title">{{ title }}</h1>
    <div class="cosmo-modal__content">
      <ng-content></ng-content>
    </div>
    <div class="cosmo-modal__button-bar">
      <button class="cosmo-button" (click)="decline.emit()">{{ declineLabel }}</button>
      <button class="cosmo-button" (click)="confirm.emit()">{{ confirmLabel }}</button>
    </div>
  </div>
</div>
