:host {
  border: 0.0625rem solid var(--border-color);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--text-color);
  height: 13rem;
  grid-row-start: var(--jinya-row-start);
  grid-row-end: var(--jinya-row-end);

  @media screen and (max-width: 768px) {
    grid-row-start: var(--jinya-row-start-full);
    grid-row-end: var(--jinya-row-end-full);
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.jinya-card__title {
  font-size: 1.5rem;
  display: block;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-card-title);
}

.jinya-card__subtitle {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-card-title);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.jinya-card__body {
  max-height: 7.75rem;
  overflow: hidden;
  word-wrap: anywhere;
  word-break: break-all;
  font-size: var(--jinya-card-font-size);
}
