.container-two-column {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

:root {
    --pico-font-size: 1rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.75rem;
}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-delete: hsl(2 67% 57%);
    --pico-delete-hover: hsl(2 67% 67%);
    --pico-delete-focus: hsla(2 67% 57% / 0.125);
    --pico-delete-inverse: #fff;

    --pico-primary: hsl(211 50% 20%);
    --pico-primary-background: hsl(211 50% 30%);
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: hsla(211 50% 20% / 50%);
    --pico-primary-hover: hsl(211 50% 40%);
    --pico-primary-hover-background: hsl(211 50% 50%);
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: hsla(211 50% 20% / 20%);
    --pico-primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-delete: hsl(2 66% 28%);
        --pico-delete-hover: hsl(2 66% 38%);
        --pico-delete-focus: hsla(2 66% 28% / 0.125);
        --pico-delete-inverse: #fff;

        --pico-primary: hsl(211 51% 12%);
        --pico-primary-background: hsl(211 51% 12%);
        --pico-primary-border: var(--pico-primary-background);
        --pico-primary-underline: hsla(211 51% 12% / 50%);
        --pico-primary-hover: hsl(211 51% 32%);
        --pico-primary-hover-background: hsl(211 51% 42%);
        --pico-primary-hover-border: var(--pico-primary-hover-background);
        --pico-primary-hover-underline: var(--pico-primary-hover);
        --pico-primary-focus: hsla(211 51% 22% / 20%);
        --pico-primary-inverse: #fff;
    }
}

[data-theme=dark] {
    --pico-delete: hsl(2 66% 28%);
    --pico-delete-hover: hsl(2 66% 38%);
    --pico-delete-focus: hsla(2 66% 28% / 0.125);
    --pico-delete-inverse: #fff;

    --pico-primary: hsl(211 51% 12%);
    --pico-primary-background: hsl(211 51% 12%);
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: hsla(211 51% 12% / 50%);
    --pico-primary-hover: hsl(211 51% 32%);
    --pico-primary-hover-background: hsl(211 51% 42%);
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: hsla(211 51% 22% / 20%);
    --pico-primary-inverse: #fff;
}

.error {
    color: var(--pico-form-element-invalid-active-border-color);
    border: calc(var(--pico-border-width) * 2) solid var(--pico-form-element-invalid-border-color);
    padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-invalid-focus-color);
}

button.delete,
input[type=submit].delete,
input[type=button].delete,
input[type=reset].delete,
a[role=button].delete {
    --background-color: var(--pico-delete);
    --border-color: var(--pico-delete);
    --color: var(--pico-delete-inverse);
    cursor: pointer;
}

button.delete:hover, button.delete:active, button.delete:focus,
input[type=submit].delete:hover,
input[type=submit].delete:active,
input[type=submit].delete:focus,
input[type=button].delete:hover,
input[type=button].delete:active,
input[type=button].delete:focus,
input[type=reset].delete:hover,
input[type=reset].delete:active,
input[type=reset].delete:focus,
a[role=button].delete:hover,
a[role=button].delete:active,
a[role=button].delete:focus {
    --background-color: var(--pico-delete-hover);
    --border-color: var(--pico-delete-hover);
}

button.delete:focus,
input[type=submit].delete:focus,
input[type=button].delete:focus,
input[type=reset].delete:focus,
a[role=button].delete:focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
    0 0 0 var(--pico-outline-width) var(--pico-delete-focus);
}

aside li a {
    min-width: 200px;
}

.modal-button {
    display: inline-block;
    width: auto;
}

.menu-active {
    --pico-background-color: var(--pico-primary-focus);
    --pico-color: var(--pico-primary-hover);
    --pico-text-decoration: underline;
    min-width: 200px;
}