:root {
    --primary-color: #19324c;
    --text-color: #333;
    --white: #fff;
    --control-border-color: hsl(0 0 80%);

    --checkbox-size: 1rem;
    --checkbox-mark-longarm: 0.5rem;
    --checkbox-mark-shortarm: 0.125rem;
    --checkbox-mark-stroke-width: 0.0625rem;

    --input-border-width: 0.0625rem;

    --border-radius: 0.25rem;

    --transition-duration: 0.3s;

    font-family: "Albert Sans", sans-serif;

    color: var(--text-color);
}

body,
.jinya-page {
    padding: 0;
    margin: 0 1%;
    height: 100vh;
}

@media screen and (min-width: 786px) {
    .jinya-page {
        margin: 0 10%;
    }
}