<div class="jinya-settings-panel">
  <app-searchbar (searchTextChanged)="search($event)"></app-searchbar>
  <select
    aria-label="Preview type"
    class="jinya-preview__type"
    (input)="updateText($event)"
    [value]="previewTextType"
    i18n-aria-label
  >
    <option value="custom" i18n>Custom</option>
    <option value="alphabet" i18n>Alphabet</option>
    <option value="lorem" i18n>Lorem Ipsum</option>
    <option value="numbers" i18n>Numbers</option>
  </select>
  <input
    aria-label="Preview text"
    placeholder="Type text to preview..."
    type="text"
    class="jinya-preview__text"
    [value]="previewText.value"
    (input)="updatePreviewText($event)"
    i18n-aria-label
    i18n-placeholder
  />
  <span class="jinya-preview__size-text">{{ previewSize.value }}px</span>
  <input
    aria-label="Preview size"
    type="range"
    [formControl]="previewSize"
    max="240"
    min="8"
    class="jinya-preview__size"
    (input)="previewSizeChange.emit(previewSize.value ?? 24)"
    i18n-aria-label
  />
</div>
<div class="jinya-font-type-panel">
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="sans"
    [formControl]="sansCheckbox"
    (change)="sansCheckboxChanged($event)"
  />
  <label for="sans" i18n>Sans-Serif</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="serif"
    [formControl]="serifCheckbox"
    (change)="serifCheckboxChanged($event)"
  />
  <label for="serif" i18n>Serif</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="handwriting"
    [formControl]="handwritingCheckbox"
    (change)="handwritingCheckboxChanged($event)"
  />
  <label for="handwriting" i18n>Handwriting</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="display"
    [formControl]="displayCheckbox"
    (change)="displayCheckboxChanged($event)"
  />
  <label for="display" i18n>Display</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="monospace"
    [formControl]="monospaceCheckbox"
    (change)="monospaceCheckboxChanged($event)"
  />
  <label for="monospace" i18n>Monospace</label>
</div>
