<select
  (input)="updateText($event)"
  [value]="previewTextType"
  aria-label="Preview type"
  class="jinya-preview__type"
  i18n-aria-label="@@preview-panel-preview-type"
>
  <option i18n="@@preview-type-custom" value="custom">Custom</option>
  <option i18n="@@preview-type-alphabet" value="alphabet">Alphabet</option>
  <option i18n="@@preview-type-lorem" value="lorem">Lorem Ipsum</option>
  <option i18n="@@preview-type-numbers" value="numbers">Numbers</option>
</select>
<input
  (input)="updatePreviewText($event)"
  [value]="previewText.value"
  aria-label="Preview text"
  class="jinya-preview__text"
  i18n-aria-label="@@preview-type-label"
  i18n-placeholder="@@preview-type-text-placeholder"
  placeholder="Type text to preview..."
  type="text"
/>
<span class="jinya-preview__size-text">{{ previewSize.value }}px</span>
<input
  (input)="previewSizeChange.emit(previewSize.value ?? 24)"
  [formControl]="previewSize"
  aria-label="Preview size"
  class="jinya-preview__size"
  i18n-aria-label="@@preview-type-size-label"
  max="240"
  min="8"
  type="range"
/>
