@if (loading) {
  <app-loading-spinner />
}
@defer (when !loading) {
  <span class="cosmo-title" i18n="@@status">Status</span>
  <div class="container">
    <dl class="cosmo-list is--key-value">
      <dt i18n="@@status-jinya-fonts">Jinya Fonts online</dt>
      <dd>
        <span class="center-vertical">
          @if (status.online) {
            <lucide-icon [img]="CheckCircle" color="var(--positive-color)" />
            <ng-container i18n="@@online">Online</ng-container>
          } @else {
            <lucide-icon [img]="XCircle" color="var(--negative-color)" />
            <ng-container i18n="@@offline">Offline</ng-container>
          }
        </span>
      </dd>
      <dt i18n="@@status-public-website">Public website online</dt>
      <dd>
        <span class="center-vertical">
          @if (status.servingWebsite) {
            <lucide-icon [img]="CheckCircle" color="var(--positive-color)" />
            <ng-container i18n="@@online">Online</ng-container>
          } @else {
            <lucide-icon [img]="XCircle" color="var(--negative-color)" />
            <ng-container i18n="@@offline">Offline</ng-container>
          }
        </span>
      </dd>
      <dt i18n="@@status-mongodb">MongoDB</dt>
      <dd>
        <span class="center-vertical">
          @if (status.mongoUp) {
            <lucide-icon [img]="CheckCircle" color="var(--positive-color)" />
            <ng-container i18n="@@online">Online</ng-container>
          } @else {
            <lucide-icon [img]="XCircle" color="var(--negative-color)" />
            <ng-container i18n="@@offline">Offline</ng-container>
          }
        </span>
      </dd>
      <dt i18n="@@status-redis">Redis</dt>
      <dd>
        <span class="center-vertical">
          @if (status.redisUp) {
            <lucide-icon [img]="CheckCircle" color="var(--positive-color)" />
            <ng-container i18n="@@online">Online</ng-container>
          } @else {
            <lucide-icon [img]="XCircle" color="var(--negative-color)" />
            <ng-container i18n="@@offline">Offline</ng-container>
          }
        </span>
      </dd>
      <dt i18n="@@status-google-fonts">Google fonts job active</dt>
      <dd>
        <span class="center-vertical">
          @if (status.jobIsScheduled) {
            <lucide-icon [img]="CheckCircle" color="var(--positive-color)" />
            <ng-container i18n="@@online">Online</ng-container>
          } @else {
            <lucide-icon [img]="XCircle" color="var(--negative-color)" />
            <ng-container i18n="@@offline">Offline</ng-container>
          }
        </span>
      </dd>
      @if (status.jobIsScheduled) {
        <dt i18n="@@status-job-execution">Next job execution</dt>
        <dd>{{ nextExecution.toLocaleString() }}</dd>
      }
    </dl>
  </div>
}
