<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinya Fonts – Login</title>
    <link rel="stylesheet" type="text/css" href="/admin/static/css/pico.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/admin/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/admin/static/img/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/admin/static/img/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/admin/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/static/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/admin/static/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        article {
            padding: 0;
            overflow: hidden;
        }

        article div {
            padding: 1rem;
        }

        article div:nth-of-type(2) {
            background-color: #374956;
            background-image: url("https://picsum.photos/1000/1200");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
<main>
    <main class="container">
        <article class="grid">
            <div>
                <hgroup>
                    <h1>Sign in</h1>
                    <h2>Use the configured admin password</h2>
                </hgroup>
                <form method="post">
                    <input type="password" name="password" placeholder="Admin password" aria-label="Admin password"
                           autocomplete="current-password" required>
                    <fieldset>
                        <label for="remember">
                            <input type="checkbox" role="switch" id="remember" name="remember">
                            Don't expire login
                        </label>
                    </fieldset>
                    <button type="submit" class="contrast">Login</button>
                </form>
            </div>
            <div></div>
        </article>
    </main>
</main>
</body>
</html>