<div class="jinya-settings-panel">
  <app-searchbar (searchTextChanged)="search($event)"></app-searchbar>
  <app-preview-panel
    (previewSizeChange)="previewSizeChange.emit($event)"
    (previewTextChange)="previewTextChange.emit($event)"
  />
</div>
<div class="jinya-font-type-panel">
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="sans"
    [formControl]="sansCheckbox"
    (change)="sansCheckboxChanged($event)"
  />
  <label for="sans" i18n="@@style-sans-serif">Sans-Serif</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="serif"
    [formControl]="serifCheckbox"
    (change)="serifCheckboxChanged($event)"
  />
  <label for="serif" i18n="@@style-serif">Serif</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="handwriting"
    [formControl]="handwritingCheckbox"
    (change)="handwritingCheckboxChanged($event)"
  />
  <label for="handwriting" i18n="@@style-handwriting">Handwriting</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="display"
    [formControl]="displayCheckbox"
    (change)="displayCheckboxChanged($event)"
  />
  <label for="display" i18n="@@style-display">Display</label>
  <input
    class="jinya-checkbox"
    type="checkbox"
    id="monospace"
    [formControl]="monospaceCheckbox"
    (change)="monospaceCheckboxChanged($event)"
  />
  <label for="monospace" i18n="@@style-monospace">Monospace</label>
</div>
