<div class="jinya-settings-panel">
  <app-searchbar></app-searchbar>
  <select aria-label="Preview type" id="previewtype" class="jinya-preview__type" name="previewOption"
          (input)="updateText()" [formControl]="previewTextType" i18n-aria-label>
    <option value="custom" i18n>Custom</option>
    <option value="alphabet" i18n>Alphabet</option>
    <option value="lorem" i18n>Lorem Ipsum</option>
    <option value="numbers" i18n>Numbers</option>
  </select>
  <input aria-label="Preview text" id="previewtext" placeholder="Type text to preview..." type="text"
         class="jinya-preview__text" [formControl]="previewText" (input)="updateText()" i18n-aria-label
         i18n-placeholder />
  <span id="previewsizetext" class="jinya-preview__size-text">{{ previewSize.value }}px</span>
  <input aria-label="Preview size" id="previewsize" type="range" [formControl]="previewSize" max="240" min="8"
         class="jinya-preview__size" (input)="previewSizeChange.emit(previewSize.value ?? 24)" i18n-aria-label />
</div>
<div class="jinya-font-type-panel">
  <input class="jinya-checkbox" type="checkbox" id="sans" checked [formControl]="sansCheckbox"
         (input)="sansCheckboxChange.emit(sansCheckbox.value ?? true)" /> <label for="sans" i18n>Sans-Serif</label>
  <input class="jinya-checkbox" type="checkbox" id="serif" checked [formControl]="serifCheckbox"
         (input)="serifCheckboxChange.emit(serifCheckbox.value ?? true)" /> <label for="serif" i18n>Serif</label>
  <input class="jinya-checkbox" type="checkbox" id="handwriting" checked [formControl]="handwritingCheckbox"
         (input)="handwritingCheckboxChange.emit(handwritingCheckbox.value ?? true)" />
  <label for="handwriting" i18n>Handwriting</label>
  <input class="jinya-checkbox" type="checkbox" id="display" checked [formControl]="displayCheckbox"
         (input)="displayCheckboxChange.emit(displayCheckbox.value ?? true)" />
  <label for="display" i18n>Display</label>
  <input class="jinya-checkbox" type="checkbox" id="monospace" checked [formControl]="monospaceCheckbox"
         (input)="monospaceCheckboxChange.emit(monospaceCheckbox.value ?? true)" />
  <label for="monospace" i18n>Monospace</label>
</div>
