<div x-data="fontDetailsData">
  <template x-if="loading">
    <jinya-loader></jinya-loader>
  </template>
  <template x-if="!loading">
    <div class="cosmo-side-list">
      <nav class="cosmo-side-list__items">
        <a
          @click="changeSideItem('details')"
          class="cosmo-side-list__item"
          x-active="activeSideItem === 'details'"
          x-localize:font-details-details=""
        >
        </a>
        <a
          @click="changeSideItem('designers')"
          class="cosmo-side-list__item"
          x-active="activeSideItem === 'designers'"
          x-localize:font-details-designer=""
        >
        </a>
        <a
          @click="changeSideItem('files')"
          class="cosmo-side-list__item"
          x-active="activeSideItem === 'files'"
          x-localize:font-details-files=""
        >
        </a>
      </nav>
      <template x-if="activeSideItem === 'details'">
        <div class="cosmo-side-list__content">
          <span class="cosmo-title" x-localize:font-details-details-title="font"></span>
          <template x-if="!font.googleFont">
            <div class="cosmo-toolbar">
              <div class="cosmo-toolbar__group">
                <button class="cosmo-button" @click="openEditFontDialog" x-localize:edit=""></button>
                <button class="cosmo-button" @click="deleteFont" x-localize:delete=""></button>
              </div>
            </div>
          </template>
          <dl class="cosmo-list is--key-value">
            <dt x-localize:font-license=""></dt>
            <dd x-font-license="font.license"></dd>
            <dt x-localize:font-category=""></dt>
            <dd x-text="font.category"></dd>
            <dt x-localize:font-google-font=""></dt>
            <dd x-boolean-display="font.googleFont"></dd>
          </dl>
          <h4 x-localize:font-description=""></h4>
          <div x-html="font.description"></div>
        </div>
      </template>
      <template x-if="activeSideItem === 'designers'">
        <div class="cosmo-side-list__content">
          <span class="cosmo-title" x-localize:font-details-designer-title="font"></span>
          <div class="cosmo-tab">
            <div class="cosmo-tab__links">
              <template x-for="designer in font.designers">
                <a
                  href="#"
                  class="cosmo-tab__link"
                  @click="activeDesigner = designer"
                  x-active="activeDesigner?.name === designer.name"
                  x-text="designer.name"
                >
                </a>
              </template>
              <template x-if="!font.googleFont">
                <a
                  href="#"
                  class="cosmo-tab__link"
                  @click="activeDesigner = null"
                  x-active="activeDesigner === null"
                  x-localize:font-details-new-designer=""
                >
                </a>
              </template>
            </div>
            <template x-if="activeDesigner">
              <div class="cosmo-tab__content is--designer">
                <template x-if="!font.googleFont">
                  <div class="cosmo-toolbar">
                    <div class="cosmo-toolbar__group">
                      <button class="cosmo-button" :disabled="editDesignerOn" @click="editDesigner"
                              x-localize:edit=""></button>
                      <button class="cosmo-button" @click="removeDesigner" x-localize:delete=""></button>
                    </div>
                  </div>
                </template>
                <template x-if="editDesignerOn">
                  <form class="top-gap" @submit.prevent="updateDesigner()">
                    <jinya-toolbar-editor :content="activeDesigner.editBio" @change="(e) => activeDesigner.editBio = e.value"></jinya-toolbar-editor>
                    <div class="cosmo-button__container">
                      <button class="cosmo-button" @click="editDesignerOn = false" type="reset"
                              x-localize:discard-changes=""></button>
                      <button class="cosmo-button is--primary" type="submit" x-localize:save-designer=""></button>
                    </div>
                  </form>
                </template>
                <template x-if="!editDesignerOn">
                  <div x-html="activeDesigner?.bio"></div>
                </template>
              </div>
            </template>
            <template x-if="!activeDesigner">
              <form @submit.prevent="createNewDesigner">
                <fieldset class="jinya-fieldset">
                  <legend class="jinya-legend" x-localize:create-designer=""></legend>
                  <div class="cosmo-input__group">
                    <label for="designerName" class="cosmo-label" x-localize:designer-name-label=""></label>
                    <input type="text" id="designerName" class="cosmo-input" required x-model="newDesigner.name" />
                    <template x-if="!newDesigner.name">
                      <span class="cosmo-input__message is--negative" x-localize:designer-name-error=""></span>
                    </template>
                    <span class="cosmo-input__header" x-localize:about-designer=""></span>
                    <jinya-toolbar-editor :content="newDesigner.bio" @change="(e) => newDesigner.bio = e.value"></jinya-toolbar-editor>
                  </div>
                  <div class="cosmo-button__container">
                    <button class="cosmo-button" type="reset" x-localize:discard-changes=""></button>
                    <button class="cosmo-button is--primary" type="submit" x-localize:create-designer=""></button>
                  </div>
                </fieldset>
              </form>
            </template>
          </div>
        </div>
      </template>
      <template x-if="activeSideItem === 'files'">
        <div class="cosmo-side-list__content">
          <span class="cosmo-title" x-localize:font-details-files-title="font"></span>
          <template x-if="!font.googleFont">
            <div class="cosmo-toolbar">
              <div class="cosmo-toolbar__group">
                <button class="cosmo-button" @click="addFileDialogOpen = true" x-localize:upload-file=""></button>
              </div>
            </div>
          </template>
          <table class="cosmo-table">
            <thead>
            <tr>
              <th x-localize:font-style=""></th>
              <th x-localize:font-weight=""></th>
              <th x-localize:font-file-type=""></th>
              <th x-localize:actions=""></th>
            </tr>
            </thead>
            <tbody>
            <template x-for="file in font.fonts">
              <tr>
                <td x-text="file.style"></td>
                <td x-text="file.weight"></td>
                <td x-text="file.type"></td>
                <td>
                  <div class="cosmo-toolbar__group">
                    <a :href="file.path" class="cosmo-button" x-localize:download=""></a>
                    <template x-if="!font.googleFont">
                      <button class="cosmo-button" @click="openEditFile(file)" x-localize:edit=""></button>
                    </template>
                    <template x-if="!font.googleFont">
                      <button class="cosmo-button" @click="openDeleteFile(file)" x-localize:delete=""></button>
                    </template>
                  </div>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
      </template>
    </div>
  </template>
</div>
