.cosmo-toolbar__group .cosmo-button:not(:first-of-type) {
  border-left-width: 0 !important;
}

.cosmo-toolbar__group .cosmo-button:not(:first-child) {
  border-left-width: 0.0625rem;
}

.cosmo-toolbar__group .cosmo-button:first-of-type:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.cosmo-tab__content.is--designer {
  height: calc(var(--page-height) - var(--tab-links-height) - var(--tab-gap) - var(--title-font-size) - 0.5rem);
}