.jinya-fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  grid-column: span 2;
}

.jinya-legend {
  font-size: var(--input-header-font-size);
  height: var(--input-header-font-size);
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-heading);
  text-transform: uppercase;
  grid-column: span 2;
  margin-top: var(--input-group-gap);
  margin-bottom: var(--input-group-gap);
}

jinya-toolbar-editor {
  grid-column: span 2;
}

.top-gap {
  margin-top: 1rem;
}
