.jinya-login {
    background: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness-base) / 25%);
    padding: 2rem 4rem;
    backdrop-filter: blur(24px) saturate(90%);
    box-sizing: border-box;
    margin-top: 1.25rem;
    max-width: 40rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column;
    gap: 1rem;
    max-height: calc(100vh - 2.5rem);
    overflow: auto;
    color: var(--white);
}

.jinya-login__container {
    height: var(--page-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.is--login {
    margin: 0;
    padding: 0;
    background-image: url('/static/img/login-background.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
