.container {
  width: 50%;
}

.font-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--primary-color);
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.add-filter-form {
  margin-top: 1rem;
}
