<div class="cosmo-modal__container" [class.is--closed]="!open">
  <form class="cosmo-modal" [formGroup]="editFileForm" (ngSubmit)="updateFile()">
    <h1 class="cosmo-modal__title" i18n="@@upload-file">Upload file</h1>
    <div class="cosmo-modal__content">
      <div class="cosmo-input__group">
        <span class="cosmo-label" i18n="@@font-style">Style</span>
        <span class="cosmo-input">
          @switch (file.style) {
            @case ('normal') {
              <ng-container i18n="@@font-style-normal">Normal</ng-container>
            }
            @case ('italic') {
              <ng-container i18n="@@font-style-italic">Italic</ng-container>
            }
          }
        </span>
        <span class="cosmo-label" i18n="@@font-weight">Weight</span>
        <span class="cosmo-input">
          @switch (file.weight) {
            @case ('100') {
              <ng-container i18n="@@font-weight-100">Thin (100)</ng-container>
            }
            @case ('200') {
              <ng-container i18n="@@font-weight-200">Extra light (200)</ng-container>
            }
            @case ('300') {
              <ng-container i18n="@@font-weight-300">Light (300)</ng-container>
            }
            @case ('400') {
              <ng-container i18n="@@font-weight-400">Normal (400)</ng-container>
            }
            @case ('500') {
              <ng-container i18n="@@font-weight-500">Medium (500)</ng-container>
            }
            @case ('600') {
              <ng-container i18n="@@font-weight-600">Semi bold (600)</ng-container>
            }
            @case ('700') {
              <ng-container i18n="@@font-weight-700">Bold (700)</ng-container>
            }
            @case ('800') {
              <ng-container i18n="@@font-weight-800">Extra bold (800)</ng-container>
            }
            @case ('900') {
              <ng-container i18n="@@font-weight-900">Black (900)</ng-container>
            }
          }
        </span>
        <label for="file" class="cosmo-label" i18n="@@font-file">File</label>
        <input
          required
          type="file"
          id="file"
          class="cosmo-input"
          [accept]="'font/' + file.type"
          (change)="updateFilePicker($event)"
        />
      </div>
    </div>
    <div class="cosmo-modal__button-bar">
      <button class="cosmo-button" (click)="open = false" i18n="@@cancel">Cancel</button>
      <button class="cosmo-button" type="submit" i18n="@@upload-file">Upload file</button>
    </div>
  </form>
</div>
